# Managed by ansible (roles/backup). Правки на хосте будут перезаписаны.
RESTIC_REPOSITORY={{ backup_restic_repository }}
RESTIC_PASSWORD={{ backup_restic_password }}
AWS_ACCESS_KEY_ID={{ backup_s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ backup_s3_secret_key }}
{% if backup_telegram_enabled %}
TELEGRAM_TOKEN={{ backup_telegram_token }}
TELEGRAM_ID={{ backup_telegram_id }}
{% endif %}
